@import url(//db.onlinewebfonts.com/c/47155b43ea197400835b2b0aad6bbb86?family=ArltTituloW01-Hueca);

:root {
    --primary-color: crimson;
    --secondary-color: bisque;
    --third-color: #5d3734;
    --text-caps: uppercase;
    --font: ArltTituloW01-Hueca;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    transition: all .2s ease-in;
}

html, body {
    background-image: url(./imgs/trucoBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: max-content;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contGeneral {
    margin: auto;
    padding: 2vh 0;
    width: 90%;
    color: var(--secondary-color);
    font-family: var(--font);
}
.opacity {
    background: rgba(0, 0, 0, 0.5);
}
.opacity2 {
    background: rgba(0, 0, 0, 0.7);
}
.grow:hover {
    transform: scale(1.1);
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contTitle {
    margin: auto;
    padding: 1vh;
    color: var(--primary-color);
}
.title {
    text-align: center;
    margin: auto;
    color: var(--secondary-color);
    font-family: var(--font);
    text-transform: var(--text-caps);
    letter-spacing: 1px;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contSection {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    width: 60%;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contUp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid var(--secondary-color);
}
.contLeftTeam, .contRightTeam {
    width: 100%;
    padding: 2vh;
}
.leftTeamTitle, .rightTeamTitle {
    margin: auto;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font);
    text-transform: var(--text-caps);
}
/*------------------------------------*/
.contButtons {
    margin: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
}
.button {
    width: 150px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 10px;
}
.buttonText {
    margin: auto;
    font-size: 1.4em;
    text-align: center;
}
.buttonAdd {
    background-color:var(--primary-color);
}
.buttonRest {
    background-color: var(--third-color);
    color: white;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.contDown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divisorLine {
    border-right: 2px solid var(--secondary-color);
}
.leftTeamCounter, .rightTeamCounter {
    width: 100%;
    min-height: 100%;
}
.midgame {
    margin: auto;
    border-bottom: 2px solid var(--primary-color);
    max-width: 90%;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
.onePoints {
    margin: 5% auto;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 2px 0px 0px 0px;
    position: relative;
}
.twoPoints {
    margin: 5% auto;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 2px 2px 0px 0px;
    position: relative;
}
.threePoints {
    margin: 5% auto;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 2px 2px 2px 0px;
    position: relative;
}
.fourPoints {
    margin: 5% auto;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 2px 2px 2px 2px;
    position: relative;
}
.slash {
    margin: 0;
    border-style: solid;
    height: 106px;
    transform: rotate(45deg);
    position: absolute;
    top: -22%;
    left: 48%;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
@media (max-width: 1440px) {
    .contSection {
        width: 80%;
    }
}
@media (max-width: 1024px) {
    .contSection {
        width: 90%;
    }
    .button {
        width: 120px;
    }
}
@media (max-width: 768px) {
    .contSection {
        width: 100%;
    }
    .button {
        width: 100px;
    }
}
@media (max-width: 600px) {
    .button {
        width: 70px;
    }
}
@media (max-width: 425px) {
    .button {
        width: 60px;
    }
}
@media (max-width: 375px) {
    .contButtons {
        flex-direction: column;
    }
    .button {
        margin: auto;
    }
    .buttonAdd {
        margin-bottom: 1vh;
    }
}
